<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/logs/payment.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level [%thread] %-25logger:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %blue(%-5level) %magenta([%thread]) %-25logger:%line - %yellow(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="eu.brevissimus.payment" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework.security" level="debug"/>
    <logger name="org.hibernate.SQL" level="debug"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
